@import "tailwindcss";
@plugin "./hero.js";

@source "../node_modules/@heroui/theme/dist";
 


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: "480px";
  --breakpoint-md: "768px";
  --breakpoint-lg: "976px";
}

:root {
  
  --color-primary: #1f6d91;
  --color-secondary: #1f6d91;
  --color-accent: #00bcd4;
  --color-text: #ffffff;
  --color-muted: #cfd8dc;
  --color-bg: #0f2e3e;

    --bg-gradient: linear-gradient(135deg, #212425, #b7bbbc);
}

body {
  background-image: var(--bg-gradient);
   background-size: cover;
  background-attachment: fixed;
}